/* Bilbao - HTML Template */

/************ TABLE OF CONTENTS ***************
1. Fonts
2. Main Slider
3. Page Title
4. Welcome Services
5. About Us
6. Recent Cause
7. Funfacts
8. Mission
9. Event
10. Team
11. Parallax
12. Testimonial
13. Blog
14. Call to action
15. Footer


**********************************************/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Poppins:400,400i,500,600,700');

/*font-family: 'Poppins', sans-serif;
font-family: 'Open Sans', sans-serif;*/














/* Single blog post*/


.single-blog-post {
	position: relative;
}

.single-blog-post .inner-box {
	position: relative;
	margin-bottom: 50px;
}

.single-blog-post .image {
	position: relative;
	overflow: hidden;
    margin-bottom: 0px;
    width: 100%;
    height:500px;
}

.single-blog-post img {
    width: 100%;
}


.single-blog-post .date {
	position: absolute;
	left: 0;
	top: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 600;
	color: #222;
	background: #ffffff;
	padding: 16px 0px;
	z-index: 9;
	text-align: center;
	width: 88px;
	height: 88px;
	border: 1px solid #ebebeb;
}

.single-blog-post .date span {
	font-size: 13px;
	color: #51dc3c;
}

.single-blog-post .news-content {
    position: relative;
    padding-left: 120px;
}

.single-blog-post .news-content h4 {
	font-size: 23px;
	font-weight: 600;
	border-bottom: 1px solid #e4e4e4;
	margin-bottom: 20px;
	padding-bottom: 15px;
}

.single-blog-post .news-content h4 a {
	color: #222;
}

.single-blog-post .post-info {
	position: relative;
	margin-bottom: 20px;
}

.single-blog-post .post-info li {
	display: inline-block;
	font-size: 12px;
	margin-right: 15px;
}

.single-blog-post .post-info li span {
	color: #5e31da;
	margin-right: 10px;
	font-size: 15px;
}

.single-blog-post .text {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 2;
}

.blockquote	{
	position: relative;
	border: 1px solid #e3e3e3;
	padding: 41px 0;
	padding-left: 145px;
	min-height: 153px;
	font-size: 20px;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	color: #222;
}

.blockquote .quote-icon {
	position: absolute;
	left: 30px;
	top: 30px;
	font-size: 100px;
	font-weight: 600;
	width: 90px;
	height: 90px;
	line-height: 122px;
	color: #222;
	text-align: center;
	border: 1px solid #e3e3e3;
}

.single-blog-post .experience-block {
	position: relative;
}

.single-blog-post .experience-block h4 {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 20px;
}

.single-blog-post .experience-block {
	margin-bottom: 20px;
}

.single-blog-post .experience-block ul li {
	font-size: 16px;
	margin-bottom: 5px;
}

.single-blog-post .experience-block .list-style-one li:before {
    position: absolute;
    content: "\f0a9";
    color: #51dc3c;
}

/* Post share option */

.post-share-options {
	position: relative;
	border-top: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
	/* padding: 15px 0; */
}

.post-share-options span {
	position: relative;
	font-size: 14px;
	font-weight: 600;
	font-family: 'Poppins', sans-serif;
	text-decoration: underline;
	color: #222;
}

.post-share-options .tags a {
	position: relative;
	color: #222;
	font-size: 14px;
	background: #f3f3f3;
	font-weight: 500;
	font-family: 'Poppins', sans-serif;
	padding: 5px 25px;
	margin-right: 0px;
	display: inline-block;
	transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}

.post-share-options .tags a:hover {
	color: #94c13d;
}

.post-share-options ul {
	display: inline-block;
	background: #f3f3f3;
	border-radius: 20px;
	margin: 15px 0;
}

/* Author box */

.author-box {
	position: relative;
	border: 1px solid #f3f3f3;
	background: #f3f3f3;
}

.author-box .inner-box {
	position: relative;
	padding-left: 220px;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-right: 30px;
}

.author-box .border-shape-right,
.author-box .border-shape-left {
	position: relative;
	display: block;
}

.author-box .border-shape-left:after {
	position: absolute;
	content: '';
	left: 0px;
	top: 5px;
	width: 50px;
	height: 2px;
	background-color: #94c13d;
}

.author-box .border-shape-left:before {
	position: absolute;
	content: '';
	left: 0px;
	top: 5px;
	width: 100%;
	height: 2px;
	background-color: #ddd;
}

.author-box .border-shape-right:after {
	position: absolute;
	content: '';
	right: 0px;
	top: 5px;
	width: 50px;
	height: 2px;
	background-color: #94c13d;
}

.author-box .border-shape-right:before {
	position: absolute;
	content: '';
	left: 0px;
	top: 5px;
	width: 100%;
	height: 2px;
	background-color: #ddd;
}

.author-box .image {
	position: absolute;
	left: 60px;
	top: 55px;
	width: 125px;
	height: 125px;
	border-radius: 50%;
	overflow: hidden;
}

.author-box .name {
	position: relative;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
	color: #222;
	font-family: 'Open Sans', sans-serif;
}

.author-box .name:after {
	/* position: absolute; */
	/* content: ''; */
	/* left: 0; */
	/* bottom: 2px; */
	/* width: 15px; */
	/* height: 2px; */
	/* background-color: #94c13d; */
	/* transition: all 0.3s ease; */
	-moz-transition: all 0.3s ease;
	/* -webkit-transition: all 0.3s ease; */
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}

.author-box .name:before {
	/* position: absolute; */
	/* content: ''; */
	/* left: 0; */
	/* bottom: -5px; */
	/* width: 30px; */
	/* height: 2px; */
	/* background-color: #94c13d; */
	transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}

/*** 

====================================================================
	Comments Area
====================================================================

 ***/

.comments-area {
	position: relative;
	margin-top: 60px;
	padding-bottom: 40px;
	margin-bottom: 55px;
	border-bottom: 1px solid #dddddd;
}

.group-title {
	position: relative;
	margin-bottom: 32px;
}

.group-title h2 {
	position: relative;
	font-size: 20px;
	color: #222222;
	font-weight: 700;
	padding-bottom: 5px;
	text-transform: capitalize;
}

.group-title .separator {
	position: relative;
	width: 65px;
	height: 15px;
	margin-bottom: 20px;
}

.group-title .separator:after {
	position: absolute;
	content: '';
	left: 0px;
	top: 6px;
	width: 15px;
	height: 2px;
	background-color: #94c13d;
}

.group-title .separator:before {
	position: absolute;
	content: '';
	left: 0px;
	top: 12px;
	width: 30px;
	height: 2px;
	background-color: #94c13d;
}

.group-title .separator .dott {
	position: relative;
	width: 6px;
	height: 6px;
	top: -9px;
	border-radius: 50%;
	display: inline-block;
	background-color: #fa2964;
}

.comments-area .comment-box {
	position: relative;
	padding: 0px 0px 0px;
	margin-bottom: 40px;
	-webkit-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.comments-area .comment-box.comment-reply-box {
	margin-left: 120px;
}

.comments-area .comment-box:last-child {
	margin-bottom: 0px;
	padding-bottom: 0px;
	border: 0px;
}

.comments-area .comment-box:hover {
	border-color: #222222;
}

.comments-area .comment {
	position: relative;
	font-size: 14px;
	padding: 0px 0px 0px 110px;
}

.comments-area .comment .comment-inner {
	position: relative;
}

.comments-area .comment .comment-reply {
	position: relative;
	margin-top: 10px;
	color: #222;
	font-size: 16px;
	text-align: center;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	-webkit-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
	font-family: 'Poppins', sans-serif;
}

.comments-area .comment .comment-reply:hover {
	color: #242424;
}

.comments-area .comment-box .author-thumb {
	position: absolute;
	left: 0px;
	top: 8px;
	width: 90px;
	border-radius: 50%;
	margin-bottom: 20px;
}

.comments-area .comment-box .author-thumb img {
	display: block;
}

.comments-area .comment-info {
	color: #3e5773;
	line-height: 24px;
	font-size: 13px;
}

.comments-area .comment-box strong {
	font-size: 16px;
	font-weight: 600;
	color: #222222;
	line-height: 16px;
	text-transform: capitalize;
	display: inline-block;
}

.comments-area .comment-box .text {
	color: #888888;
	font-size: 16px;
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: 1.7em;
}

.comments-area .reply-btn a {
	position: relative;
	width: 55px;
	height: 55px;
	text-align: center;
	line-height: 55px;
	background: #e3e3e3;
	border-radius: 50%;
	color: #222;
	font-size: 30px;
}

.comments-area .comment-box .theme-btn {
	padding: 5px 30px;
	font-size: 12px;
	border: 1px solid #fbca00;
	text-transform: uppercase;
	letter-spacing: 1px;
}

/*Comment Form*/

.comment-form {
	position: relative;
	margin-bottom: 20px;
}

.comment-form .form-group {
	position: relative;
	margin-bottom: 18px;
}

.comment-form .form-group input[type="text"],
.comment-form .form-group input[type="password"],
.comment-form .form-group input[type="tel"],
.comment-form .form-group input[type="email"],
.comment-form .form-group textarea {
	display: block;
	width: 100%;
	height: 50px;
	font-size: 14px;
	background: #f3f3f3;
	color: #888888;
	line-height: 24px;
	padding: 12px 20px;
	font-weight: 400;
	border: 1px solid #f3f3f3;
	transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
}

.comment-form .form-group input[type="text"]:focus,
.comment-form .form-group input[type="password"]:focus,
.comment-form .form-group input[type="tel"]:focus,
.comment-form .form-group input[type="email"]:focus,
.comment-form .form-group textarea:focus {
	border-color: #94c13d;
}

.comment-form .form-group textarea {
	height: 150px;
	resize: none;
}

.comment-form button {
	margin-top: 5px;
	padding: 11px 40px;
	background: #192546;
	border-color: #192546;
	color: #fff;
}

.comment-form input:focus,
.comment-form select:focus,
.comment-form textarea:focus {
	border-color: #f06529;
}






/*** 

====================================================================
	Sidebar Page Container
====================================================================

***/

.content-side,
.sidebar-side {
	margin-bottom: 40px;
}

.sidebar-widget {
	position: relative;
	margin-bottom: 50px;
}

.sidebar-title {
	position: relative;
	margin-bottom: 25px;
}

.sidebar-title h4 {
	position: relative;
	color: #222222;
	font-size: 18px;
	font-weight: 700;
	padding-bottom: 10px;
	text-transform: capitalize;
	font-family: 'Poppins', sans-serif;
}

.sidebar-title .separator {
	position: relative;
	width: 100%;
	height: 15px;
	margin-bottom: 20px;
}

.sidebar-title .separator:after {
	position: absolute;
	content: '';
	left: 0px;
	top: 5px;
	width: 50px;
	height: 2px;
	background-color: #94c13d;
}

.sidebar-title .separator:before {
	position: absolute;
	content: '';
	left: 0px;
	top: 5px;
	width: 100%;
	height: 2px;
	background-color: #ddd;
}

.sidebar-title .separator .dott {
	position: relative;
	width: 6px;
	height: 6px;
	top: -9px;
	border-radius: 50%;
	display: inline-block;
	background-color: #94c13d;
}


/*Search Box Widget*/

.sidebar .search-box .form-group {
	position: relative;
	margin: 0px;
}

.sidebar .search-box .form-group input[type="text"],
.sidebar .search-box .form-group input[type="search"] {
	position: relative;
	line-height: 33px;
	padding: 10px 50px 10px 20px;
	border: 1px solid #edf0f3;
	background: none;
	display: block;
	font-size: 14px;
	width: 100%;
	border-radius: 28px;
	height: 55px;
	font-style: italic;
	transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
}

.sidebar .search-box .form-group button {
	position: absolute;
	right: 0px;
	top: 0px;
	height: 55px;
	width: 55px;
	display: block;
	font-size: 18px;
	color: #94c13d;
	line-height: 100%;
	font-weight: normal;
	background: transparent;
	border-radius: 27.5px;
	cursor: pointer;
}

/* Social link widget*/

.social-link-widget {
	position: relative;
}

.social-link-block {
	position: relative;
	padding: 20px 30px;
	border: 1px solid #ebebeb;
	margin-bottom: 10px;
}

.social-link-block .inner-box {
	position: relative;
	padding-left: 40px;
}

.social-link-block .icon {
	position: absolute;
	left: 0;
	top: 0;
	font-size: 34px;
	color: #e23f5c;
}

.social-link-block .icon span.fa-facebook {
	color: #3b5796;
}

.social-link-block .icon span.fa-twitter-square {
	color: #55aded;
}

.social-link-block h5 {
	font-size: 16px;
	font-weight: 600;
	line-height: 1em;
	margin-bottom: 5px;
}

.social-link-block .meta-info {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	color: #a9a9a9;
	font-weight: 600;
	line-height: 1em;
}

/* Author widget*/

.author-widget {
	position: relative;
}

.author-widget .inner-box {
	position: relative;
	text-align: center;
	border: 1px solid #ebebeb;
	padding: 50px 30px;
	margin-bottom: 30px;
}

.author-widget .image {
	position: relative;
	margin-bottom: 25px;
}

.author-widget .text	{
	margin-bottom: 25px;
}

.author-widget .social-link li {
	float: left;
}

.author-widget .social-link li a span {
	width: 70px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	font-size: 20px;
	color: #fff;
}

.author-widget .social-link .fa-google-plus-g {
	background: #db4a37;
}

.author-widget .social-link .fa-twitter {
	background: #55aded;
}

.author-widget .social-link .fa-facebook-f {
	background: #3b5796;
}

.author-widget .social-link .fa-pinterest {
	color: #bc0115;
}

.author-widget .social-link .fa-instagram {
	background: #e23f5c;
}

/* Categories widget*/

.categories-widget .inner-box {
	position: relative;
}

.categories-widget .inner-box ul {
	position: relative;
}

.categories-widget .inner-box ul li {
	position: relative;
	border-bottom: 1px solid #ebebeb;
	transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}

.categories-widget .inner-box ul li a {
	position: relative;
	padding: 15px 0;
	font-size: 15px;
	font-weight: 500;
	display: inline-block;
	color: #888;
	font-family: 'Poppins', sans-serif;
	transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}

/* Categories widget two*/

.categories-widget-two .inner-box {
	position: relative;
	padding: 25px 45px 40px;
}

.categories-widget-two .inner-box:before {
	position: absolute;
	content: '';
	background: rgba(25, 37, 70, 0.9);
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.categories-widget-two .inner-box ul {
	position: relative;
}

.categories-widget-two .inner-box ul li {
	position: relative;
	border-bottom: 1px solid #ebebeb91;
	transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}

.categories-widget-two .inner-box ul li:last-child {
	border-bottom: 0px;
}

.categories-widget-two .inner-box ul li a {
	position: relative;
	padding: 15px 0;
	padding-left: 20px;
	font-size: 15px;
	font-weight: 500;
	display: inline-block;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}

.categories-widget-two .inner-box ul li a:before {
	content: "\f105";
    position: absolute;
    left: 0;
    top: 22px;
    line-height: 15px;
    color: #51dc3c;
    font-size: 16px;
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 900;
}


/* Testimonial widget */

.testimonial-widget {
	position: relative;
}

.testimonial-widget .inner-box {
	position: relative;
	padding: 64px 30px;
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.testimonial-widget .inner-box:before {
	position: absolute;
	content: '';
	background: rgba(25, 37, 70, 0.85);
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.testimonial-widget .quote {
	position: relative;
	font-size: 100px;
	line-height: 132px;
	width: 100px;
	height: 100px;
	text-align: center;
	background: rgba(255, 255, 255, 0.10);
	color: #fff;
	border-radius: 50%;
	font-weight: 800;
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
	margin-bottom: 30px;
}

.testimonial-widget .text {
	position: relative;
	color: #fff;
	font-size: 18px;
	font-style: italic;
}

/* Archive widget*/

.archive-widget .inner-box {
	position: relative;
	border: 1px solid #ebebeb;
	padding: 8px 30px;
}

.archive-widget .inner-box ul {
	position: relative;
}

.archive-widget .inner-box ul li {
	position: relative;
	transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	border-bottom: 1px solid #ebebeb;
}

.archive-widget .inner-box ul li:last-child {
	border-bottom: 0px;
}

.archive-widget .inner-box ul li a {
	position: relative;
	font-size: 15px;
	font-weight: 500;
	padding: 16px 0px;
	color: #222;
	display: block;
	font-family: 'Poppins', sans-serif;
	transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}


/*Post Widget*/

.sidebar .popular-posts .post {
	position: relative;
	font-size: 14px;
	color: #666666;
	padding: 0px 0px;
	padding-left: 129px;
	min-height: 120px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ebebeb;
	padding-bottom: 16px;
}

.sidebar .popular-posts .post:last-child {
	margin-bottom: 0px;
}

.sidebar .popular-posts .post .post-thumb {
	position: absolute;
	left: 0px;
	top: 4px;
	width: 108px;
}

.sidebar .popular-posts .post .post-thumb a {
	position: relative;
	display: block;
}

.sidebar .popular-posts .post .post-thumb a:before {
	position: absolute;
	content: '';
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	display: block;
	z-index: 10;
	background-color: rgba(23, 23, 23, 0.76);
	opacity: 0;
	-webkit-transition: .5s ease;
	-o-transition: .5s ease;
	transition: .5s ease;
}

.sidebar .popular-posts .post:hover .post-thumb a:before {
	opacity: 1;
}

.sidebar .popular-posts .post .post-thumb img {
	display: block;
	width: 100%;
	transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}

.sidebar .popular-posts .post h5 {
	position: relative;
	font-size: 17px;
	margin: 0px 0px 0px;
	font-weight: 600;
	color: #111;
	line-height: 1em;
	text-transform: capitalize;
	margin-bottom: 10px;
}

.sidebar .popular-posts .post h5 a {
	color: #222222;
	transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}

.sidebar .popular-posts .post .text {
	line-height: 1.4em;
	margin-bottom: 10px;
}

.sidebar .popular-posts .post a,
.sidebar .popular-posts .post a:hover {
	color: #94c13d;
}

.sidebar .popular-posts .post-info {
	font-size: 12px;
	color: #222;
	font-weight: 600;
	margin-bottom: 6px;
	background: #f7f7f7;
	padding: 2px 15px;
}

.sidebar .popular-posts .post-info li {
	display: inline-block;
	margin-right: 15px;
}

/*Popular Tags*/

.sidebar .popular-tags .inner-box {
	border: 1px solid #ebebeb;
	padding: 30px;
}

.sidebar .popular-tags a {
	position: relative;
	display: inline-block;
	line-height: 24px;
	padding: 10px 19px 10px;
	margin: 2px 0px;
	color: #fff;
	text-align: center;
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	background: #222;
	border: 1px solid #edf0f3;
	transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
}

.sidebar .popular-tags a:hover {
	border-color: #94c13d;
	background-color: #94c13d;
	color: #ffffff;
}

/* Meta Tags */

.sidebar .meta-tags .inner-box {
	position: relative;
	padding: 30px;
}

.sidebar .meta-tags .inner-box:before {
	position: absolute;
	content: '';
	background: rgba(25, 37, 70, 0.85);
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.sidebar .meta-tags li {
	display: block;
}

.sidebar .meta-tags a {
	position: relative;
	display: inline-block;
	line-height: 24px;
	padding: 10px 15px 10px;
	margin: 2px 0px;
	color: #fff;
	text-align: center;
	font-size: 13px;
	font-weight: 600;
	transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
}

.sidebar .meta-tags a span {
	color: #51dc3c;
}

.sidebar .meta-tags a:before {
    content: "\f0dd";
    position: absolute;
    left: -6px;
    top: 15px;
    line-height: 15px;
    color: #51dc3c;
    font-size: 16px;
    font-family: 'Font Awesome 5 Free';
    transform: rotate(-90deg);
    font-style: normal;
  font-weight: 900;
}

/* Contact widget */

.contact-info-widget li {
	position: relative;
	color: #222;
	font-size: 16px;
	padding-bottom: 20px;
	margin-bottom: 23px;
	padding-left: 70px;
}

.contact-info-widget li b {
	font-weight: 600;
	display: block;
	font-family: 'Poppins', sans-serif;
}

.contact-info-widget li span {
	margin-right: 15px;
	display: inline-block;
	color: #ffffff;
	position: absolute;
	left: 0;
	top: 4px;
	font-size: 16px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	border-radius: 50%;
	background: #94c13d;
	text-align: center;
}

/* Brochure widget */

.brochure-widget {
	position: relative;
}

.brochure-widget .inner-box {
	position: relative;
	border: 1px solid #ebebeb;
}

.brochure-widget h4 {
	background: #192546;
	padding: 20px 20px;
	width: 100%;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
}

.brochure-block {
	position: relative;
	padding: 20px 30px;
	border-bottom: 1px solid #ebebeb;
}

.brochure-block {
	position: relative;
	padding-left: 80px;
}

.brochure-block .icon {
	position: absolute;
	left: 50px;
	top: 19px;
	font-size: 22px;
	color: #51dc3c;
}

.brochure-block .icon span.fa-facebook {
	color: #3b5796;
}

.brochure-block .icon span.fa-twitter-square {
	color: #55aded;
}

.brochure-block h5 {
	font-size: 16px;
	font-weight: 600;
	line-height: 1em;
	margin-bottom: 5px;
}

.brochure-block .meta-info {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	color: #a9a9a9;
	font-weight: 600;
	line-height: 1em;
}

/* request qute widget */

.request-quote-widget {
	position: relative;
	text-align: center;
}

.request-quote-widget h4 {
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	margin-bottom: 20px;
}

.request-quote-widget .inner-box {
	position: relative;
	padding: 40px 30px 50px;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.request-quote-widget .inner-box:before {
	position: absolute;
	content: '';
	background: rgba(25, 37, 70, 0.5);
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}


/***

==================================================================
	Single service
==================================================================

***/

.single-service-post {
	position: relative;
}

.single-service-post .top-content .image img {
	border-radius: 10px;
}

.single-service-post h1 {
	position: relative;
	padding: 30px 0;
	font-weight: 600;
}

.single-service-post h1 .icon {
	font-size: 48px;
	padding-right: 25px;
	border-right: 1px solid #51dc3c;
	margin-right: 25px;
	line-height: 40px;
	color: #bbb;
	font-weight: 400;
	position: relative;
	top: 3px;
}

.single-service-post h3 {
	position: relative;
	font-weight: 600;
	margin-bottom: 15px;
}

.single-service-post .text {
	position: relative;
	margin-bottom: 30px;
}

.single-service-post .list-style-one li {
    font-size: 16px;
    margin-bottom: 10px;
}

.single-service-post .list-style-one li:before {
    position: absolute;
    content: "\f0a9";
    color: #51dc3c;
}

